@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GaaS Template for Unity and .NET Server</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="col-md-3">
    <h2 class="lead">Functions</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-page="/PlayerAccounts/Index">Player Accounts</a>
        </li>
    </ul>
</div>
